// $primary: #CFE795;
// light green
$secondary: #008CBA;
// blue-gray
$white: #F4FFF8;
// off-white
$trueWhite: #FFFFFF;

$primary: #000000;

body {
  color: $white;
  h1 {
    color: $white;
  }
}

nav.top-bar {
  background-color: $primary;
  a {
    color: $white;
  }
}

ul.polaroids, .tripTabs {
  li {
    background-color: $white;
  }
}

.about-us {
  border: 20px solid transparentize($primary, 0.1);
  background-color: transparentize($primary, 0.1);
  color: $white;
  h1 {
    color: $white;
  }
  label {
    color: $white;
  }
  button {
    // position: absolute;
    // bottom: 5%;
    // left: 40%;
  }
}

.profilePage {
  background-color: transparentize($primary, 0.6);
}

// .landingPage {
//   background-color: transparentize($primary, 0.6);
// }

.sidebar {
  background-color: transparentize($primary, 0.3);
}
