$white: #F4FFF8;
$primary-color: #45233C;
$primary: #78586F;
$secondary-color: #7B9EA8;
$black: #666;

// *********************
// ******Trip********
// *********************
h1, h2, h3, h4, h5, h6{
  color: $white;
}
.fa-close{
  cursor: pointer;
}
.row{
  display: block;
}
.clear{
  clear:both;
}
.itinerarylisting{
    color: $secondary;
}
.destination{
  cursor: pointer;
}
.destination:hover{
  color: $secondary;
}
.eventlisting{
text-align: left;
}
.inline{
  display: inline;
}

.placesresult{
  text-align: left;
  margin-top: 15px;
  margin-bottom: 5px;
  border-bottom: 1px solid grey;
  button{
    margin-top: 15px;
  }
}
.searchresultlistings{
  overflow-y: scroll;
  max-height: 500px;
}
.display-posts {
  overflow: scroll;
  height: 90%;
  .post-container {
    h1 {
      color: $primary;
    }
    color: $primary;
    background-color: $white;
    box-shadow: 4px 4px 4px $primary;
  }
}

i {
  font-size: 1.5em;
}

.delete {
  color: white;
}

.row {
  width: 100%;
  max-width: 100%;
}

.new-trip.button.tiny{
  outline: none;
  margin-left: 5%;
  border-radius: 2px;
}

.display-posts {
  overflow: scroll;
  height: 90%;
  .post-container {
    height: 200px;
    width: 90%;
    margin: 5%;
  }
}

.interests {
  display: inline-block;
}

.jumbo{
  height: 40em;
}

.map {
  height: 100%;
}

#new-trip-button {
  float: left;
  width: 15%;
}
